@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
    max-height: 100vh;
    display: flex;
    align-items: center;
}
.container{
    padding-top: 40px;
    width: 920px;
    height: 600px;
    margin: 0 auto;
}

.text{
    text-align: center;
}
.text p{
    font-weight: 200;
}
.text .head{
    font-weight: 400;
}
.text .power{
    font-weight: 600;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    gap: 20px;
    
}

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card p{
    font-weight: 200;
    font-size: 12px;
}
.cardTeam{
    grid-column:2 ;
    border-top: 3px solid red;
}

.cardSuper{
    grid-column: 1;
    border-top: 3px solid hsl(180, 62%, 55%);
    transform: translateY(-50%);

}
.cardKarma{
    border-top: 3px solid hsl(34, 97%, 64%);
}
.cardCalculator{
    border-top: 3px solid hsl(212, 86%, 64%);
    transform: translateY(-50%);
}

.card img{
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 190px;
}

@media screen and (max-width:500px) {
    .container{
        max-width: 100vh;
        height: 100vh;

    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
    }

    .cardTeam{
        grid-column: 1;
    }
    .cardSuper{
        grid-column: 1;
        transform: translateY(0);
        grid-row: 1;
    }
    .cardKarma{
        grid-column: 1;
    }
    .cardCalculator{
        grid-column: 1;
        transform: translateY(0);
    }
}